<form name="container-form" method="post" action="/courses/handle-form" class="mt-4">
    <h3>My courses</h3>
    <a href="/me/trash/courses">My deleted courses ({{deletedCount}})</a>
    <div class="d-flex align-items-center mt-4">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
            <label class="form-check-label" for="checkbox-all">
                Choose all courses
            </label>
        </div>

        <select class="form-control select-all-options" name="action" required>
            <option value="">--Choose action</option>
            <option value="delete">Delete</option>
        </select>

        <button type="submit" class="btn btn-primary btn-sm  btn-apply-submit" disabled>Apply</button>
    </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">No.</th>
                <th scope="col">Name</th>
                <th scope="col">Created At</th>
                <th scope="col">Updated At</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value={{this._id}} name="courseIds[]">
                    </div>
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.createdAt}}</td>
                <td>{{this.updatedAt}}</td>
                <td><a href="/courses/{{this._id}}/edit" class="btn btn-link">Edit</a></td>
                <td>
                    <button type="button" class="btn btn-link text-danger" data-toggle="modal"
                        data-target="#deleteModal-{{this._id}}">
                        Delete
                    </button>
                    <!-- Modal for this course -->
                    <div class="modal fade" id="deleteModal-{{this._id}}" tabindex="-1"
                        aria-labelledby="deleteModalLabel-{{this._id}}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel-{{this._id}}">Are you sure?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <form method="POST" action="/courses/{{this._id}}?_method=DELETE">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5">No data</td>
            </tr>
            {{/each }}
        </tbody>
    </table>
</form>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var containerForm = $('form[name="container-form"]')
        var checkboxAll = $('#checkbox-all');
        var courseItemcheckbox = $('input[name="courseIds[]"]');
        var applySubmitBtn = $('.btn-apply-submit');

        //Checkbox all clicked
        checkboxAll.change(function () {
            var isCheckedAll = $(this).prop('checked')
            courseItemcheckbox.prop('checked', isCheckedAll)
            reRenderApplySubmitBtn()
        });

        //Course item checkbox changed
        courseItemcheckbox.change(function () {
            var isAllChecked = courseItemcheckbox.length === courseItemcheckbox.filter(':checked').length;
            checkboxAll.prop('checked', isAllChecked);
            reRenderApplySubmitBtn()
        });

        //Re-render the Apply button
        function reRenderApplySubmitBtn() {
            var checkedCount = courseItemcheckbox.filter(':checked').length;
            if (checkedCount > 0) {
                applySubmitBtn.attr("disabled", false)
            } else {
                applySubmitBtn.attr("disabled", true)
            }
        }

        //Apply submit btn clicked
        //  containerForm.on('submit', function (e) {
        //    var isSubmittable = !applySubmitBtn.hasClass("disabled");
        //  if (!isSubmittable) {
        //    e.preventDefault();
        // } else {
        //              containerForm.submit();
        //        }
        //  });
    })
</script>